<form data-abide action="/play" method="post">
  <div class="name-field">
   <p><label><h5>Enter your name!</h5> <small>Required</small>
      <input type="text" name="player_name" required pattern="[a-zA-Z]+">
    </label></p>
    <small class="error">A name is required</small>
  </div>
  <button class="button round button success button expand" type="submit" formmethod="post" formaction="/play">Play Game!</button>
</form>