<h3>Welcome to the game!</h3>
<form data-abide action="/play" method="post">
  <div class="name-field">
    <label>What's your name, player? <small>required</small>
      <input type="text" name="player_name" required pattern="[a-zA-Z]+">
    </label>
    <small class="error">Name is required and must be a string!</small>
  </div>
  <button class="button round button success button expand" type="submit" formmethod="post" formaction="/play">Play Game!</button>
</form>