<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en" >
<![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RPS Game</title>
  <!-- normalize.css and modernizr.js help with browser compatibility -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<div class="row">
  <div class="small-3 small-centered columns"></div>
  <div class="small-6 small-centered columns">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/"><strong><header class="hero">Have a break, Have a Rock Paper Scissors
          </header></strong></a></h1>
        </li>
      </ul>
    </nav>


    <!-- <div class="icon-bar one-up">
      <a href="/" class="item" >
        <img src="img/fi-home.svg" >
        <label>Start Over</label>
      </a>
    </div> -->
    <%= yield %></div>
  <div class="small-3 small-centered columns"></div>
</div>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>


<head>


  <link rel="stylesheet" href="css/foundation.css">

  <link rel="stylesheet" href="css/app.css">

  <script src="js/vendor/modernizr.js"></script>

</head>

<!-- For Foundation Icons, put this in your head -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<!-- Footer -->
<footer class="footer">
  <div class="row full-width">
    <div class="small-10 medium-2 large-4 columns">
      <i class="fi-target-two" style="color: #990000; font-size: 70px;"></i>
      <p>“You are never too old to set another goal or to dream a new dream." -C. S. Lewis</p>
    </div>
    <div class="small-10 medium-2 large-4 columns">
      <i class="fi-mountains" style="color: #8a8d8a; font-size: 70px;"></i>
      <p>"No! Try not! Do or do not, there is no try." <br>-Yoda</p>
    </div>
    <div class="small-10 medium-2 large-4 columns">
      <i class="fi-crown" style="color: #e3a200; font-size: 70px;"></i>
      <p>"I hated every minute of training, but I said, ‘Don’t quit. Suffer now and live the rest of your life as a champion.” – Muhammad Ali</p>
    </div>
    </div>
  </div>
</footer>