<head>

  <link rel="stylesheet" href="css/foundation.css">

  <link rel="stylesheet" href="css/app.css">

  <script src="js/vendor/modernizr.js"></script>

</head>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Chitter</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <%if @user.nil? %>
        <ul class="right">
          <li class="active"><a href="/sign_up">Sign Up</a></li>
          <li class="active"><a href="/sign_in">Sign In</a></li>
        </ul>
    <%else%>
        <ul class="right">
          <li class="active"><a href="">Signed in as: <%= @user.username%></a></li>
          <li class="active"><a href="/sign_out">Sign Out</a></li>
        </ul>
    <%end%>
    <%if @user.nil? %>
        <ul class="left">
          <li><a href="/send_peep">PeeP</a></li>
        </ul>
    <%else%>
        <ul class="left">
          <li><a href="/send_peep">Send Peep</a></li>
          <li><a href="/send_peep">My Peeps</a></li>
        </ul>
    <%end%>
  </section>
</nav>

<body>



</body>


<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<header class="hero">
  <h3>  <i class="fi-heart" style="color: #ff0c00; font-size: 18px;"></i>  Rock, Paper and Scissors</h3>
</header>
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="copywrite">Copywrite not copywrite © 2015</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-marker"></i> Makers Academy Sweden Holtermansgatan 1, 411 29 Gothenburg</p></li>
        <li><p><i class="fi-telephone"></i> 031-772 81 00</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about"> About Chitter</p>
      <p class="about subheader">"Strike me down, and I will become more powerful than you could possibly imagine." -Obi-Wan Kenobi </p>
      <ul class="inline-list social">
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-instagram"></i></a>
        <a href="#"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</footer>