<h1> Let's play!</h1>
<form action="/result" method="post" >
  <input type="radio" name="player_move" value="rock" id="player_move_rock" checked>Rock<br>
  <input type="radio" name="player_move" value="paper" id="player_move_paper">Paper<br>
  <input type="radio" name="player_move" value="scissors" id="player_move_scissors">Scissors<br><br>
  <input type="submit" value="Play">
</form>